<html>

<head>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Logo SocioQuiz</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" style="padding: 8px 15px;">
                        <div style="border-radius: 100%; border: 2px solid rgba(255, 255, 255, 0.84); width: 45px; margin-left: auto; margin-right: auto;">
                            <i class="mdi-social-notifications" style="font-size: 40px;  position: relative;">
                                <span class="badge" style="position: absolute; right: 5px;
                        bottom: -5px; border-radius: 2px !important; background-color: #D9534F;">3</span>
                            </i>
                        </div>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <p style="margin: 0px; padding: 0px;">
                            <img class="row-avatar" src="http://lorempixel.com/56/56/people/6" alt="icon">Username
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="padding: 3px 20px; font-size: 16px;">Total Point: 9696</li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <%= form_for(@quiz) do |f| %>
                    <% if @quiz.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

                          <ul>
                          <% @quiz.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <form class="form-horizontal">
                        <div class="col-md-3">
                            <div class="side-option">
                                <div class="toolbar">
                                    <legend>Option</legend>
                                </div>
                                <div class="content">
                                    <div class="type-quiz">
                                        <div class="form-group">
                                            <label class="control-label">Type Quiz</label>
                                            <div class="">
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="type-quiz" id="Multiple-choice" value="option1" checked="" type="radio">Multiple choice
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="type-quiz" id="Checkboxes" value="option2" type="radio">Checkboxes
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="type-quiz" id="True-False" value="option2" type="radio">True / False
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="type-quiz" id="Fill-in-the-blank" value="option2" type="radio">Fill in the blank
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="type-quiz" id="Matching" value="option2" type="radio">Matching
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <div class="form-group">
                                            <label class="control-label">Category</label>
                                            <div class="">
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Entertainment" value="option1" checked="" type="radio">Entertainment
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Sport" value="option2" type="radio">Sport
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="TV-Movies" value="option2" type="radio">TV & Movies
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Music" value="option2" type="radio">Music
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Food-Drink" value="option2" type="radio">Food & Drink
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Geography" value="option2" type="radio">Geography
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="General-Knowledge" value="option2" type="radio">General Knowledge
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="History" value="option2" type="radio">History
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <input name="category" id="Science-Nature" value="option2" type="radio">Science and Nature
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9" style="border-left: 2px solid red;">
                            <div class="question">
                                <legend>Question</legend>
                                <div>
                                    <%= f.text_field :question, :class => "form-control", :rows => "3", :placeholder => "Please enter question here ..." %>
                                </div>
                                <div class="row" style="margin: 20px 0;">
                                    <div class="checkbox col-md-3 none-margin-top">
                                        <label>
                                            <input type="checkbox">Picture or Video:
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                                        <input id="inputFile" multiple="" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="answer" style="padding: 15px;">
                                <legend>Selection</legend>
                                <div class="answer_true_false" style="display: none">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="true" value="option1"  checked="" type="radio">True
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="false" value="option2" type="radio">False
                                        </label>
                                    </div>
                                </div>
                                <div class="answer_checkboxes">
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                              <input type="checkbox">Selection 1:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <%= f.text_field :selection_1, :class => "form-control input-lg", :id => "inputLarge"%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                              <input type="checkbox">Selection 2:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <%= f.text_field :selection_1, :class => "form-control input-lg", :id => "inputLarge"%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                              <input type="checkbox">Selection 3:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <%= f.text_field :selection_1, :class => "form-control input-lg", :id => "inputLarge"%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                              <input type="checkbox">Selection 4:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                          <%= f.text_field :selection_1, :class => "form-control input-lg", :id => "inputLarge"%>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button"><i class="mdi-content-add"></i>Add new selection</button>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="ans row" style="padding: 15px;">
                                <div class="checkbox col-md-2 none-margin-top">
                                    <label>
                                        <input type="checkbox">Answer:
                                    </label>
                                </div>
                                <div class="col-md-10">
                                     <%= f.text_field :answer, :class => "form-control", :rows => "3", :id => "textArea" %>
                                </div>
                            </div>
                            <%= f.submit :class => "btn btn-primary", :style => "float: right" %>
                        </form>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
