<!--
<div>
<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>
      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div>
    <%= f.label :category_id %><br>
    <%= f.select :category_id, @category.map{|t| [t.name, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :selection_1 %><br>
    <%= f.text_field :selection_1 %>
  </div>
  <div class="field">
    <%= f.label :selection_2 %><br>
    <%= f.text_field :selection_2 %>
  </div>
  <div class="field">
    <%= f.label :selection_3 %><br>
    <%= f.text_field :selection_3 %>
  </div>
  <div class="field">
    <%= f.label :selection_4 %><br>
    <%= f.text_field :selection_4 %>
  </div>
  <div class="field">
    <%= f.label :selection_5 %><br>
    <%= f.text_field :selection_5 %>
  </div>
  <div class="field">
    <%= f.label :selection_6 %><br>
    <%= f.text_field :selection_6 %>
  </div>
  <div class="field">
    <%= f.label :selection_7 %><br>
    <%= f.text_field :selection_7 %>
  </div>
  <div class="field">
    <%= f.label :selection_8 %><br>
    <%= f.text_field :selection_8 %>
  </div>
  <div class="field">
    <%= f.label :selection_9 %><br>
    <%= f.text_field :selection_9 %>
  </div>
  <div class="field">
    <%= f.label :point %><br>
    <%= f.text_field :point %>
  </div>
  <% if user_signed_in? %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
-->
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <%= form_for(@quiz) do |f| %>
                    <% if @quiz.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

                          <ul>
                          <% @quiz.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <div class="div-horizontal">
                        <div class="col-md-3">
                            <div class="side-option">
                                <div class="toolbar">
                                    <legend>Option</legend>
                                </div>
                                <div class="content">
                                    <div class="type-quiz">
                                        <div class="form-group">
                                            <label class="control-label">Type Quiz</label>
                                            <div class="">
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :type, '1', :checked => true, :id => 'Multiple-choice' %>Multiple Choice
                                                    </label>
                                                </div>
                                               <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :type, '2', :id => 'Fill-in-the-blank' %>Fill in the blank
                                                    </label>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <div class="form-group">
                                            <label class="control-label">Category</label>
                                            <div class="">
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <!--<%= f.select :category_id, @category.map{|t| [t.name, t.id]} %>-->
                                                        <%= f.radio_button :category_id, '1', :id => 'Entertainment', :checked => true %>
                                                        <!--<input name="quiz[category_id]" id="Entertainment" value="1" checked="" type="radio">-->
                                                        Entertainment
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '2', :id => 'Sport' %>
                                                        <!--<input name="quiz[category_id]" id="Sport" value="2" type="radio">-->
                                                        Sport
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '3', :id => 'TV-Movies' %>
                                                        <!--<input name="quiz[category_id]" id="TV-Movies" value="3" type="radio">-->
                                                        TV & Movies
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '4', :id => 'Music' %>
                                                        <!--<input name="quiz[category_id]" id="Music" value="4" type="radio">-->
                                                        Music
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '5', :id => 'Food-Drink' %>
                                                        <!--<input name="quiz[category_id]" id="Food-Drink" value="5" type="radio">-->
                                                        Food & Drink
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '6', :id => 'Geography' %>
                                                        <!--<input name="quiz[category_id]" id="Geography" value="6" type="radio">-->
                                                        Geography
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '7', :id => 'General-Knowledge' %>
                                                        <!--<input name="quiz[category_id]" id="General-Knowledge" value="7" type="radio">-->
                                                        General Knowledge
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '8', :id => 'History' %>
                                                        <!--<input name="quiz[category_id]" id="History" value="8" type="radio">-->
                                                        History
                                                    </label>
                                                </div>
                                                <div class="radio radio-primary">
                                                    <label>
                                                        <%= f.radio_button :category_id, '9', :id => 'Science-Nature' %>
                                                        <!--<input name="quiz[category_id]" id="Science-Nature" value="9" type="radio">-->
                                                        Science and Nature
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9" style="border-left: 2px solid red;">
                            <div class="question">
                                <legend>Question</legend>
                                <div>
                                    <%= f.text_field :question, :class => "form-control", :rows => "3", :placeholder => "Please enter question here ..." %>
                                </div>
                                <div class="row" style="margin: 20px 0;">
                                    <div class="checkbox col-md-3 none-margin-top">
                                        <label>
                                            <input type="checkbox">Picture or Video:
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <input readonly="" class="form-control floating-label" placeholder="Browse..." type="text">
                                        <input id="inputFile" multiple="" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="answer divider"></div>
                            <div class="answer" style="padding: 15px;">
                                <legend>Selection</legend>
                                <div class="answer_true_false" style="display: none">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="true" value="option1"  checked="" type="radio">True
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="false" value="option2" type="radio">False
                                        </label>
                                    </div>
                                </div>
                                <div class="answer_checkboxes" id="selection_checkboxes">
                                    <%
                                    selectionNum = 0 
                                    defaultReversedNum = 1
                                    quizSelections = [@quiz.selection_1, @quiz.selection_2, @quiz.selection_3, @quiz.selection_4, @quiz.selection_5, @quiz.selection_6, @quiz.selection_7, @quiz.selection_8, @quiz.selection_9] 
                                    notNilIndexMax = 0
                                    quizSelections.each do |selection|
                                        selectionNum = selectionNum.to_i + 1
                                        if selection != nil && selectionNum.to_i >= notNilIndexMax.to_i
                                            notNilIndexMax = selectionNum.to_i
                                        end
                                    end
                                    selectionNum = 0
                                    printf("notNilIndexMax: %s\r\n", notNilIndexMax)

                                    quizSelections.each do |selection| 
                                         selectionNum = selectionNum.to_i + 1
                                         if selectionNum <= 3 && selection == nil
                                                 defaultReversedNum = defaultReversedNum.to_i - 1
                                         end
                                         printf("selection_%s: %s \r\n", selectionNum, selection)
                                    %>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <!--<label>-->
                                              <!--<input type="checkbox">-->Selection <%= selectionNum %>:
                                            <!--</label>-->
                                        </div>
                                        <div class="form-group col-md-9">
                                    <% 
                                         if selection == nil 
                                             selection = ""
                                         end
                                    %>
                                          <input class="form-control input-lg" id="inputLarge" name="quiz[selection_<%= selectionNum %>]" type="text" value="<%= selection %>" />
                                        </div>
                                    </div>

                                    <%
                                        if selectionNum.to_i >= notNilIndexMax.to_i
                                            break
                                        end
                                    end
                                    printf("defaultReversedNum: %s\r\n", defaultReversedNum)
                                    %>

				    <script language="javascript">
				        var selectionMax = 9;
                                        <%
                                        if notNilIndexMax.to_i < 1
                                        %>
                                        var selectionNum = 1;
                                        <% else %>
                                        var selectionNum = <%= notNilIndexMax.to_i %>;
                                        <%    
                                        end
                                        %>
				        var addNewSelection = function(){
				            if(selectionNum < selectionMax){
				                selectionNum++;
				                var selectionElement = document.getElementById("selection_checkboxes");

				                var domNewRow = document.createElement("div");
				                domNewRow.className = "row";

					        var domNewCheckbox = document.createElement("div");
					        domNewCheckbox.className = "checkbox col-md-3 none-margin-top";
					        /*
                                                var domCheckboxLabel = document.createElement("label");
					        domCheckboxLabel.innerHTML = "Selection " + selectionNum + ":";
                                                 */
						domNewCheckbox.innerHTML = "Selection " + selectionNum + ":";
						//domNewCheckbox.appendChild(domCheckboxLabel);

						var domNewInputTxt = document.createElement("div");
						domNewInputTxt.className = "form-group col-md-9";
						domNewInputTxt.innerHTML = "<input class='form-control input-lg' id='inputLarge' name='quiz[selection_" + selectionNum + "]' type='text' value='' />";

						domNewRow.appendChild(domNewCheckbox);
						domNewRow.appendChild(domNewInputTxt);
						selectionElement.appendChild(domNewRow);
                                                $.material.init();
		                            }
                                        }
				    </script>
                                </div>
                                <div>
				      <button class="btn btn-primary" type="button" onclick="javascript:addNewSelection();"><i class="mdi-content-add"></i>Add new selection</button>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="ans row" style="padding: 15px;">
                                <div class="checkbox col-md-2 none-margin-top">
                                    <label>
                                        <input type="checkbox">Answer:
                                    </label>
                                </div>
                                <div class="col-md-10">
                                     <%= f.text_field :answer, :class => "form-control", :rows => "3", :id => "textArea" %>
                                </div>
                            </div>
                            <div class="point row" style="padding: 15px;">
                                <div class="checkbox col-md-2 none-margin-top">
                                    <label>
                                        Points:
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <%= f.text_field :point, :class => "form-control", :rows => "3", :id => "textArea" %>
                                </div>
                            </div>
                            <% if user_signed_in? %>
                                <%= f.hidden_field :user_id, :value => current_user.id %>
                            <% end %>
                            <%= f.submit :class => "btn btn-primary", :style => "float: right" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
