<html>

<head>

</head>

<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Logo SocioQuiz</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" style="padding: 8px 15px;">
                        <div style="border-radius: 100%; border: 2px solid rgba(255, 255, 255, 0.84); width: 45px; margin-left: auto; margin-right: auto;">
                            <i class="mdi-social-notifications" style="font-size: 40px;  position: relative;">
                                <span class="badge" style="position: absolute; right: 5px;
                        bottom: -5px; border-radius: 2px !important; background-color: #D9534F;">3</span>
                            </i>
                        </div>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <p style="margin: 0px; padding: 0px;">
                            <img class="row-avatar" src="http://lorempixel.com/56/56/people/6" alt="icon">Username
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li style="padding: 3px 20px; font-size: 16px;">Total Point: 9696</li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path %>
                        </li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        
        <div class="well col-md-12">
            <h1><center>Quizzes</center></h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Created by</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <% @quizzes.each do |quiz| %>
                    <tr>
                        <td><%= quiz.question %></td>
                        <td>
                          <% if quiz.user %>
                            <% if quiz.user.name? %>
                              <%= quiz.user.name %>
                            <% else %>
                              <%= quiz.user.email %>
                            <% end %>
                          <% end %>
                        </td>
                        <td>

                            <a data-toggle="modal" data-target="#view-quizz" >
                                <i class="mdi-action-visibility"></i>
                            </a>
                            <div class="modal fade" id="view-quizz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Quiz Detail</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="portlet">                                                 
                                                        <div class="form-body">
                                                            <div class="form-group">
                                                                <label for=" ">Question:</label>
                                                                <span><%= quiz.question %></span>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for=" ">Answer:</label>
                                                                <span><%= quiz.answer %></span>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for=" ">Created by:</label>
                                                                <% if quiz.user %>
                                                                  <% if quiz.user.name? %>
                                                                    <span><%= quiz.user.name %></span>
                                                                  <% else %>
                                                                    <span><%= quiz.user.email %></span>
                                                                  <% end %>
                                                                <% end %>
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                <label for=" ">Type quiz:</label>
                                                                <span>...</span>
                                                               
                                                            </div>                             
                                                             <div class="form-group">
                                                                <label for=" ">Topic:</label>
                                                                <span>...</span>
                                                              
                                                            </div>   
                                                            <div class="modal-footer">
                                                                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <a style="padding-left: 5px; padding-right: 5px;">
                                <%= link_to '<i class="mdi-av-play-arrow"></i>'.html_safe, play_quiz_path(quiz) %>
                            </a>
                            
                            <a style="padding-left: 5px; padding-right: 5px;">
                                <%= link_to '<i class="mdi-editor-mode-edit"></i>'.html_safe, edit_quiz_path(quiz) %>
                            </a>

                            <%= link_to '<i class="mdi-action-delete" ></i>'.html_safe,
                                quiz,
                                method: :delete,
                                data: { confirm: "Are you sure?"
                            } %>  
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <br>
            <% if user_signed_in? %>
                <%= link_to '<button type="button" class="btn btn-default">
                      <span class="mdi-content-add"></span> New Course
                    </button>'.html_safe, new_quiz_path %>
            <% end %>
        </div>
    </div>

</body>

</html>
