    
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-option">
                        <div class="content">
                            <div class="category">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <div class="">
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Entertainment" value="option1" checked="" type="radio">Entertainment
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Sport" value="option2" type="radio">Sport
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="TV-Movies" value="option2" type="radio">TV & Movies
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Music" value="option2" type="radio">Music
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Food-Drink" value="option2" type="radio">Food & Drink
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Geography" value="option2" type="radio">Geography
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="General-Knowledge" value="option2" type="radio">General Knowledge
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="History" value="option2" type="radio">History
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input name="category" id="Science-Nature" value="option2" type="radio">Science and Nature
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="border-left: 2px solid red;">
                	<p id="notice"><%= notice %></p>

                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#textbox" data-toggle="tab">Fill in the blank</a></li>
                        <li><a href="#multiple-choice" data-toggle="tab">Multiple choice</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                    	<div class="tab-pane fade active in" id="textbox">
							<%= form_for @play, url: { action: 'respond' } do |f| %>
								<fieldset>
									<div class="question">
										<legend>Question</legend>
										<%= @quiz.question %>
									</div>
									<div class="divider"></div>
									
									<div class="answer">
			                            <div class="ans row" style="padding: 15px;">
			                                <div class="checkbox col-md-2 none-margin-top">
			                                    <label>
			                                        Answer:
			                                    </label>
			                                </div>
			                                <div class="col-md-10">
			                                	<%= f.hidden_field :quiz_id %>
			                                    <%= f.text_field :reply, :class => "form-control", :rows => "3", :id => "textArea" %>
			                                </div>
			                            </div>
									</div>
									<%= f.submit :class => "btn btn-primary", :style => "float: right" , :value => "Submit"%> 
								</fieldset>
							<% end %>
                        </div>

                        <div class="tab-pane fade " id="multiple-choice">
                            <div class="question">
                                <legend>Question</legend>
                                <div>
                                    <textarea class="form-control" rows="3" id="textArea" placeholder="Please enter question here ..."></textarea>
                                </div>
                               
                            </div>
                            <div class="divider"></div>
                            <div class="answer" style="padding: 15px;">
                                <legend>Answer</legend>
                                <div class="answer_true_false" style="display: none">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="true" value="option1"  checked="" type="radio">True
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input name="answer" id="false" value="option2" type="radio">False
                                        </label>
                                    </div>
                                </div>
                                <div class="answer_checkboxes">
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                                <input type="checkbox">Answer 1:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input class="form-control input-lg" id="inputLarge" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                                <input type="checkbox">Answer 2:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input class="form-control input-lg" id="inputLarge" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                                <input type="checkbox">Answer 3:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input class="form-control input-lg" id="inputLarge" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkbox col-md-3 none-margin-top">
                                            <label>
                                                <input type="checkbox">Answer 4:
                                            </label>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <input class="form-control input-lg" id="inputLarge" type="text">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="divider"></div>
                           
                            <button class="btn btn-primary" type="button" style="float: right;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
