<div class="container" style="margin-top: 100px;">
  <p id="notice"><%= notice %></p>
  <% if user_signed_in? %>
  <h1>
  <% if current_user.name %>
    <%= current_user.name %>
  <% else %>
    <%= current_user.email %>
  <% end %>
  's Profile
  </h1>
  <h2>Activity Log</h2>
  <table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Your Answer</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <% total_score = 0 %>
  <% @plays.each do |play| %>
    <% if play.quiz %>
      <tr>
        <td><%= play.quiz_id %></td>
        <td><%= play.quiz.question %></td>
        <td><%= play.quiz.answer %></td>
        <td><%= play.reply %></td>
        <td><%= play.score.to_i %></td>
      </tr>
    <% end %>
  <% end %>
    <tr>
      <td colspan=4>Total points:</td>
      <td><%= @totalscore.to_s %></td>
    </tr>
  </tbody>
  </table>
  <% else %>
    Please signin
  <% end %>
</div>
