  <div class="container"  style="margin-top: 100px;">
    <p id="notice"><%= notice %></p>
    <div class="well col-md-12">
      <% if user_signed_in? %>
          <center>
            <h1>
              <% if current_user.name %>
                <%= current_user.name %>
              <% else %>
                <%= current_user.email %>
              <% end %>
                's Activity Log
            </h1>
            <div id="total-points">
              <div id="user-id" style="display:none;"><%= current_user.id %></div>
              Total points:<%= @totalscore.to_s %>
            </div>
          </center>
         
        <center>
          <canvas id="myChart" width = "450" height="450"></canvas> 
        </center>
        
      <% else %>
      Please signin
      <% end %>
    </div>
  </div>
  <script>
  

  var myData =[
  <% @plays.each do |play| %>
    <% if play.quiz %>
        {
        quiz_id: <%= play.quiz_id %>,
        score: <%= play.score.to_i %>
        },
    <% end %>
  <% end %>
    {
      quiz_id: 0,
      score: 0
    }
  ];

  
  var labelJ = new Array();
  var dataJ = new Array();
  for(var i = 0; i < myData.length; i++){
    labelJ.push('Q' + myData[i].quiz_id);
    dataJ.push(myData[i].score);
  }

  dataChart = {
    labels :labelJ,
    datasets : [
      {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "#fff",
        data : dataJ
      }
    ]
  };

  
  var myLine = new Chart(document.getElementById("myChart").getContext("2d")).Line(dataChart);
 
  </script>
