<html>

<head>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Logo SocioQuiz</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Log in", new_session_path(resource_name) %>
                </li>
                <li><%= link_to '<i style="border-left: 3px solid white;">Sign up</i>'.html_safe, new_registration_path(resource_name) %>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" style="margin-top: 100px;">
        <div id="login-area" class="row col-md-8 col-md-offset-2">
            <!-- login via fb gg+ twitter -->
            <div class="well col-md-4">
                <legend>Login with</legend>
                <a href="javascript:void(0)" class="btn btn-primary btn-raised withripple full-width">Facebook</a>
                <a href="javascript:void(0)" class="btn btn-danger btn-raised withripple full-width">Google +</a>
                <a href="javascript:void(0)" class="btn btn-info btn-raised withripple full-width">Twitter</a>
            </div>
            <h3 class="col-md-1" style="text-align: center;">Or</h3>
            <!-- login via email -->
            <div class="well col-md-7">
                <form class="form-horizontal">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <fieldset>
                            <legend>Login with Email</legend>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "inputEmail", :placeholder => "Email"  %>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "inputPassword", :placeholder => "Password" %>
                                </div>
                            </div>

                           
                            <% if devise_mapping.rememberable? %>
                                <div class="checkbox" style="float: left;">
                                    <label style="padding-left: 0;">
                                        <input type="checkbox">Stay logged in
                                    </label>
                                </div>
                            <% end %>
                        
                        
                            <div style="position: absolute; bottom: 15px; left: 15px;">Don't have an account? <%=link_to "Create one" '<i class="mdi-navigation-arrow-forward"></i>'.html_safe, new_registration_path(resource_name) %></div>
                            <%= f.submit :href => "javascript:void(0)", :class => "btn btn-primary btn-fab btn-raised mdi-action-exit-to-app", :style => "position: absolute; bottom: 15px; right: 15px;", :value => "" %>
                            
                        </fieldset>
                    <% end %>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
