<% if user_signed_in? && current_user.permission == "admin" %>
<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="category_name">Category name [input's id]</label><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="category_value">Category text [input's text]</label><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <label for="category_description">Category descriptions [Decription of category detail]</label><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
