<!DOCTYPE html>
<html>
<head>
  <title>SocioQuiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- HEADER UI -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'Logo SocioQuiz', root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <%= link_to 'Home', root_path %>
                </li>
            </ul>
            <% if user_signed_in? || current_page?(controller: 'users/registrations', action: 'new') || current_page?(controller: 'users/sessions', action: 'new') %>
            <% else %>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to user_omniauth_authorize_path(:facebook), :class => 'navbar-link' do %>
                        facebook <i class='fa fa-facebook-square' style="font-size: 20px; padding-bottom: 0px; margin-bottom: 0px;"></i>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to user_omniauth_authorize_path(:twitter), :class => 'navbar-link' do %>
                        twitter <i class="fa fa-twitter-square" style="font-size: 20px; padding-bottom: 0px; margin-bottom: 0px;"></i>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to user_omniauth_authorize_path(:google_oauth2), :class => 'navbar-link' do %>
                        google+ <i class="fa fa-google-plus-square" style="font-size: 20px; padding-bottom: 0px; margin-bottom: 0px;"></i>
                    <% end %>
                </li>
            </ul>
            <% end %>

            <ul class="nav navbar-nav">
                <li>
                    <% if notice %>
                        <div class="alert alert-success navbar-nav" style="margin-bottom: 0px;"><%= notice %></div>
                    <% end %>
                    <% if alert %>
                        <div class="alert alert-danger navbar-nav" style="margin-bottom: 0px;"><%= alert %></div>
                    <% end %>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li>
                    <a href="javascript:void(0)" style="padding: 8px 15px;">
                        <div style="border-radius: 100%; border: 2px solid rgba(255, 255, 255, 0.84); width: 45px; margin-left: auto; margin-right: auto;">
                            <i class="mdi-social-notifications" style="font-size: 40px;  position: relative;">
                                <span class="badge" style="position: absolute; right: 5px; bottom: -5px; border-radius: 2px !important; background-color: #D9534F;">3</span>
                            </i>
                        </div>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <p style="margin: 0px; padding: 0px;">
                            <% if current_user.profileimage? %>
                                <img class="row-avatar" src="<%= current_user.profileimage %>" alt="icon">
                            <% else %>
                                <!--<img class="row-avatar" src="http://lorempixel.com/56/56/people/6" alt="icon">-->
                                <img class="row-avatar" src="/no-pic" alt="icon">

                            <% end %>
                            <% if current_user.name? %>
                                <%= current_user.name %>
                            <% else %>
                                <%= current_user.email %>
                            <% end %>
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">

                        <li style="padding: 3px 20px; font-size: 16px;">Total Points: <span class="sq-totalscore">0</span></li>
                        <li>
                            <%= link_to "Edit Profile", edit_user_registration_path %>
                        </li>
                        <li>
                            <%= link_to "Quizz Activities", current_user %>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li>
                    <%= link_to "Log in", new_user_session_path, {:class => 'navbar-link'} %>
                </li>
                <li>
                    <%= link_to "Sign up", new_user_registration_path, {:class => 'navbar-link', :style => 'border-left: 3px solid white;'} %>
                </li>
            <% end %>

            </ul>
        </div>
    </div>
<!-- CONTENT WARPPER & CONTAINER -->
<%= yield %>
    <script>
        $(document).ready(function(){
          $.material.init();
          <% if user_signed_in? %>
            Play.showScore(<%= current_user.id %>);
            Quiz.switchQuizType();
          <% end %>
        });
    </script>
</body>
</html>
