<!DOCTYPE html>
<html>
<head>
  <title>SocioQuiz</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
.row-avatar {
    float: right;
    margin-top: 0px;
    padding-left: 5px;
    border-radius: 100%;
}
</style>
</head>
<body>
<!-- NEW UI -->
    <div class="navbar navbar-default" style="background-color: #4285f4;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'Logo SocioQuiz', root_path, {:class => "navbar-brand"} %>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <%= link_to 'Home', root_path %>
                </li>
            </ul>
            <% if user_signed_in? %>
            <% else %>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to "Sign in with twitter", user_omniauth_authorize_path(:twitter), :class => 'navbar-link' %>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="inactive">
                    <%= link_to "Sign in with google+", user_omniauth_authorize_path(:google_oauth2), :class => 'navbar-link' %>
                </li>
            </ul>
            <% end %>

            <% if notice %>
            <ul class="nav navbar-nav">
                <li class="alert alert-success" style="margin-bottom: 0px;">
                    <%= notice %>
                </li>
            </ul>
            <% end %>
            <% if alert %>
            <ul class="nav navbar-nav">
                <li class="alert alert-danger" style="margin-bottom: 0px;">
                    <%= alert %>
                </li>
            </ul>
            <% end %>


            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li>
                    <strong>
                        <% if current_user.name? %>
                            <div class="navbar" style="padding-top: 15px; padding-bottom: 0px; margin-bottom: 0px"><%= current_user.name %></div>
                        <% else %>
                            <div class="navbar" style="padding-top: 15px; padding-bottom: 0px; margin-bottom: 0px"><%= current_user.email %></div>
                        <% end %>
                    </strong>
                </li>
                <% if current_user.profileimage? %>
                <li>
                    <img style="padding: 0px; magin: 0px;" class="row-avatar" src=<%= current_user.profileimage %>>
                </li>
                <% end %>


                <li>
                     <%= link_to "Quizz Activities", current_user, {:class => 'navbar-link'} %>
                </li>
                <li>
                     <%= link_to "Edit Profile", edit_user_registration_path, {:class => 'navbar-link'} %>
                </li>
                <li>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
                </li>
            <% else %>
                <li>
                    <%= link_to "Log in", new_user_session_path, {:class => 'navbar-link'} %>
                </li>
                <li>
                    <%= link_to "Sign up", new_user_registration_path, {:class => 'navbar-link', :style => 'border-left: 3px solid white;'} %>
                </li>
            <% end %>
            </ul>
        </div>
    </div>

<!--OLD UI-->
<!--
<p class="navbar-text pull-right">
<%= link_to 'SocioQuiz', root_path %> |
<% if user_signed_in? %>
  <strong>
  <% if current_user.name? %>
    <%= current_user.name %>
  <% else %>
    <%= current_user.email %>
  <% end %>
  </strong> |
  <%= link_to "Profile", current_user %> |
  <% if current_user.profileimage? %>
     <img class="row-avatar" src=<%= current_user.profileimage %>>
  <% end %>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <div id="status" style="border: 1px solid"></div>
<% else %>
  <%= link_to "Sign up for SocioQuiz", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %> |
  <%= link_to "Sign in with facebook", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %> |
  <%= link_to "Sign in with twitter", user_omniauth_authorize_path(:twitter), :class => 'navbar-link' %> |
  <%= link_to "Sign in with google+", user_omniauth_authorize_path(:google_oauth2), :class => 'navbar-link' %> |

<% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</p>
-->
<%= yield %>
<!-- Here is an example login code (Enable cookie in order to do omniauth-facebook) Javascript version -->
<!--<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = '';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
        appId      : '<% ENV['FACEBOOK_APP_KEY'] %>',//Add your facebook app ID here.
        cookie     : true,  // enable cookies to allow the server to access
                        // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!\r\n' + response.email;
    });

    FB.logout(function(response) {
        // Person is now logged out
    });
  }
</script>-->


</body>
</html>
